<template>
  <v-form v-model="valid">
   <v-flex >
      <v-flex>
        <v-select
          :items="Clients"
          v-model="SelectedClient"
          auto
          label="Client"
          hide-details
          prepend-icon="perm_identity"
          single-line
        ></v-select>
      </v-flex>
   </v-flex >
   <v-flex >
      <v-text-field
        v-model="type"
        label="type"
        required
        prepend-icon="perm_identity"
      ></v-text-field>
   </v-flex >
   <v-flex >
	    <v-textarea 
        name="input-7-4"
        label="notes"
        prepend-icon="perm_identity"
        ></v-textarea>

	 </v-flex >
  <v-flex>
    
  </v-flex>  
      <v-btn  color="success" @click="showNext">submit</v-btn>
  </v-flex>
</v-form>  
</template>



<script>
  export default {
    data: () => ({
    SelectedClient:false,
    Clients:[
      "Client10","Client6","Client5","Client10"
    ],
    password:"",
    rules: {
          required: value => !!value || 'Required.'
        },
    showpassword:null	,
    valid: false,
    type: '',
    }),
    methods:{
      showNext: function () {
        return 0;
      }
    }
  }
</script>