<template>
  <v-container  
  class="text-center" 
  align-center
  grid-list-xl>
    <v-layout row wrap>

 <v-flex
           d-flex xs12 sm6 md4 
              v-for="etape in etapes"
              :key="etape.title"
            >        <v-card dark>

                  <v-card-title primary-title>
                    <div>
                      <h3 class="headline mb-0">{{etape.name}}</h3>
                      <div>{{etape.description}}</div>
                    </div>
                  </v-card-title>

                  <v-card-actions>
                    <v-btn block  color="success" >دخول</v-btn>
                  </v-card-actions>
                </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
     computed: {
    etapes () {
      return this.$store.state.etapes
    }
  },

    data: () => ({

    })
  }
</script>
