<template>
  <v-container fluid grid-list-md>
  	<v-layout
                    slot="placeholder"
                    fill-height
                    align-center
                    justify-center
                    ma-0
                  >
                   <h2 class="pb-3">
                   لائحة الاعضاء
                   </h2>
                  </v-layout>

                  	<v-layout
                  	justify-center 
                    slot="placeholder"
                    fill-height
                    align-center
                    ma-0
                  >
                  <v-flex d-flex xs12 sm8 md8>
                    
                  <v-flex class="p5" d-flex xs12 sm8 md8 >
                     <v-text-field
            solo
            label="البحث"
            append-icon="search"
          ></v-text-field>
                  </v-flex>

                  </v-flex>


                  </v-layout>


    <v-layout row wrap>
      <v-flex d-flex xs12 sm3 md2 

      	v-for="candidat in candidats"
		:key="candidat.title"
		>
		<!-- <a href="#"> -->
        <v-card class="mt4  elevation-6 " :to="'route_'+candidat.id" color="PRIMARY" >

        <v-card-title primary-title>
          <div>
            <h4>{{candidat.name}}</h4>
          </div>
        </v-card-title>
        	<v-img
                  :src="candidat.image "
                  :lazy-src="`https://picsum.photos/10/6?image=${1 * 5 + 10}`"
                  aspect-ratio="1"
                  color="red lighten-2"
                   gradient="to bottom, rgba(255,0,132,0.4) 0%,rgba(177,242,164,0.3) 100%"
                >
                  <v-layout
                    slot="placeholder"
                    fill-height
                    align-center
                    justify-center
                    ma-0
                  >
                    <v-progress-circular indeterminate></v-progress-circular>
                  </v-layout>
                </v-img>	

                <v-card-actions class="pa-3">
	      
     				<v-flex x12>
     				  <v-flex x2>
     				  <v-btn color="success">معلومة 1 </v-btn>
     				  <v-btn color="success">معلومة 1 </v-btn>
     				</v-flex>
     				<v-flex x2>
     				  <v-btn color="success">معلومة  2 </v-btn>
     				</v-flex>
     				<v-flex x2>
     				  <v-btn color="success">معلومة 1 </v-btn>
     				</v-flex>
     				</v-flex>
    			</v-card-actions>
        </v-card>
        <!-- </a> -->
      </v-flex>
    </v-layout>
  </v-container>
</template>


<script>
  export default {
     computed: {
    candidats () {
      return this.$store.state.candidats
    }
  },

    data: () => ({

    })
  }
</script>
