<template>
  <v-form v-model="valid">
	 <v-flex >
	    <v-text-field
	      v-model="email"
	      :rules="emailRules"
	      label="E-mail"
	      required
	    ></v-text-field>
	 </v-flex >
     <v-flex >
          <v-text-field
            v-model="password"
            :append-icon="showpassword ? 'visibility_off' : 'visibility'"
            :rules="[rules.required]"
            :type="showpassword ? 'text' : 'password'"
            name="password"
            label="Normal with hint text"
            hint="At least 8 characters"
            counter
            @click:append="showpassword = !showpassword"
          ></v-text-field>
			<v-btn color="success">log in</v-btn>
        </v-flex>
  </v-form>
</template>



<script>
  export default {
    data: () => ({
    password:"",
    rules: {
          required: value => !!value || 'Required.'
        },
    showpassword:null	,
    valid: false,
    email: '',
    emailRules: [
        v => !!v || 'E-mail is required',
        v => /.+@.+/.test(v) || 'E-mail must be valid'
      ]
    })
  }
</script>